@import './reset.css';
@import './variables/_fonts.css';
@import './variables/_colors.css';
@import './utils/index.css';

/* 3rd party */
@import '../../node_modules/rc-dialog/assets/index.css';
@import '../../node_modules/rc-pagination/assets/index.css';

/* components */
@import './components/index.scss';

html,
body {
  font-family: var(--font-family);
  color: var(--c-text);
  background-color: var(--c-background);
  scroll-behavior: smooth;
  font-size: var(--font-size-base);
}

h1 {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-md);
}
