.productCard {
  border-radius: 8px;
  height: 464px;
  border: 1px solid transparent;
  display: grid;
  grid-template-rows: max-content 1fr;

  &:hover {
    border-color: var(--c-border-dark);
    padding-bottom: 24px;

    .imageWrapper {
      border-color: transparent;
    }

    .info {
      display: none;
    }

    .addToCart {
      display: block;
    }
  }
}

.imageWrapper {
  border: 1px solid var(--c-border-light);
  width: 100%;
  border-radius: 8px;
}

.image {
  background-size: cover;
  background-position: center;
}

.detail {
  padding: 8px 8px 0 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: var(--font-size-xs);
  text-transform: capitalize;
}

.subTitle {
  text-transform: capitalize;
  font-weight: bold;
}

.priceWrapper {
  margin-top: 8px;
}

.price {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-sm);
  color: var(--c-black);
}

.discountPrice {
  font-size: 13px;
  color: var(--c-text-disabled);
  text-decoration: line-through;
  margin-right: 4px;
}

.discountPercent {
  font-weight: var(--font-weight-bold);
  color: var(--c-primary);
}

.addToCart {
  display: none;
}
