.title {
  font-weight: 500;
  text-transform: capitalize;
  margin-top: 24px;
  margin-bottom: 20px;
}

.item {
  color: var(--c-text-secondary);
  font-size: 14px;
  text-transform: capitalize;

  &:hover {
    color: var(--c-primary);
  }
}

.count {
  margin-left: 4px;
}

.active {
  color: var(--c-primary);
}
